<!DOCTYPE html>
<html>
<head>
<title>Mail Us</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Great Taste Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'/>
</head>
<body>

<!-- banner-body -->
	<div class="banner-body">
		<div class="container">
			<div class="banner-body-content">
			<div class="col-xs-3 banner-body-left">
				<div class="logo">
					<h1><a href="index.html">Aurfy <span>Inc</span></a></h1>
				</div>
				<div class="top-nav">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
							<nav class="stroke">
								<ul class="nav navbar-nav">
									<li><a href="index.html" class="hvr-underline-from-left"><i class="home1"></i>Home</a></li>
									<li><a href="products.html" class="hvr-underline-from-left"><i class="prod1"></i>products</a></li>
									<li><a href="short-codes.html" class="hvr-underline-from-left"><i class="text-size1"></i>Settlement</a></li>
									<li><a href="blog.html" class="hvr-underline-from-left"><i class="edit1"></i>Bank</a></li>
									<li><a href="photos.html" class="hvr-underline-from-left"><i class="picture1"></i>Documents</a></li>
									<li><a href="submission.html" class="hvr-underline-from-left"><i class="submission1"></i>Submission</a></li>
									<li class="active"><a href="mail.html"><i class="envelope"></i>Mail US</a></li>
								</ul>
							</nav>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
			<div class="col-xs-9 banner-body-right">
				<div class="gallery-head">
					<h5>Mail Us</h5>
					<p>But I must explain to you how all this mistaken idea of denouncing  pleasure and praising pain was born.</p>
				</div>
				<!-- mail -->
				<div class="mail">
					<div class="mail-grid1">
						<h3>Contact </h3>
						<p>Voluptatem accusantium doloremque laudantium.</p>
						<ul>
							<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone<span>+8 (213) 746 820 82</span></li>
							<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email<a href="mailto:support@nihaopay.com">Support Team</a></li>
						</ul>
						<ul>
							<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address<span>530 lakeside drive #280, Sunnevayle, California, US.</span></li>
						</ul>
					</div>
				<!-- 	<div class="mail-grid1">
						<h3>Send a <span>Message</span></h3>
						<p>Voluptatem accusantium doloremque laudantium.</p>
						<form>
							<input type="text" placeholder="Name" required=" ">
							<input type="email" placeholder="Email" required=" ">
							<div class="clearfix"> </div>
							<input type="text" placeholder="Subject" required=" ">
							<textarea placeholder="Type Your Text Here...." required=" "></textarea>
							<input type="submit" value="Submit">
						</form>
					</div> -->
				</div>
				<!-- <div class="map">
					<h3>Location On <span>Map</span></h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26359195.17562375!2d-113.7156245614499!3d36.2473834534249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1452332634941" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div> -->
			<!-- //mail -->
			</div>
			<div class="clearfix"> </div>
			<div class="footer">
				<div class="footer-left">
					<ul>
						<li><a href="#">Privacy Policy</a>|</li>
						<li><a href="#">Terms of Use</a>|</li>
						<li><a href="mail.html">Contact Us</a></li>
					</ul>
					<p>Copyright &copy; 2016.Company name All rights reserved.<a href="http://nihaopay.com/" target="_blank" title="模板之家">NihaoPay</a> </p>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
		</div>
	</div>
<!-- //banner-body -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>