<html>
<head>
<script language="javascript" src="/js/jquery.min.js"></script>
</head>
<body>
	<script type="text/javascript" src="buttonhide_show.js"></script>
	<div th:if="${message}">
			<h2 th:text="${message}" />
	</div>
	<form action="#" th:action="@{/products}" th:object="${products}"
		method="post">
		<td><input id="onlinepaymentbutton" type="button"
			name="onlinepaymentbutton" value="Online Payment" /> <script
				type="text/javascript">
						buttonhide('onlinepaymentbutton','securepaytable');
						buttonhide('onlinepaymentbutton','expresspaytable');
						</script></td>
		<table id="onlinepaymenttable" name="onlinepaymenttable">
			<table id="securepaytable" name="securepaytable">
				<tr>
					<td><input id="securepaybutton" type="button"
						name="securepaybutton" value="Securepay Button" /><script
				type="text/javascript">
						buttonhide('securepaybutton','securepaytunnel');
						buttonhide('securepaybutton','securepaycurrencies');
						buttonhide('securepaybutton','securepaysettlementn');
						</script></td>
				</tr>
				<tr id="securepaytunnel" name="securepaytunnel">
					<td><input id="securepay_unionpay" type="checkbox"
						th:field="*{securepay_unionpay}" value="1"
						name="securepay_unionpay" onchange='securepayunionpaylisetner();'/>
						UnionPay</td>
						<td><input id="securepay_wechatpay" type="checkbox"
						th:field="*{securepay_wechatpay}" value="1"
						name="securepay_wechatpay" onchange='securepayunionpaylisetner();'/>
						WechatPay</td>
						<td><input id="securepay_alipay" type="checkbox"
						th:field="*{securepay_alipay}" value="1"
						name="securepay_alipay" onchange='securepayunionpaylisetner();' />
						AliPay</td>
				</tr>
				<script>
				function securepayunionpaylisetner(){
					 if((document.getElementById("securepay_wechatpay").checked ||document.getElementById("securepay_alipay").checked||document.getElementById("securepay_unionpay").checked)==true)
				    {
				    document.getElementById("securepaycurrency_USD").disabled = false;
					document.getElementById("securepaycurrency_JPY").disabled = false;
					document.getElementById("securepaycurrency_HKD").disabled = false;
					document.getElementById("securepaycurrency_EUR").disabled = false;
					document.getElementById("securepaycurrency_GBP").disabled = false;
					document.getElementById("securepaycurrency_CAD").disabled = false;
					document.getElementById('seccurepaysettmenet').readOnly = false;
				    }else{
				   	 	document.getElementById("securepaycurrency_USD").disabled = true;
						document.getElementById("securepaycurrency_JPY").disabled = true;
						document.getElementById("securepaycurrency_HKD").disabled = true;
						document.getElementById("securepaycurrency_EUR").disabled = true;
						document.getElementById("securepaycurrency_GBP").disabled = true;
						document.getElementById("securepaycurrency_CAD").disabled = true;
						document.getElementById("securepaycurrency_USD").checked = false;
						document.getElementById("securepaycurrency_JPY").checked = false;
						document.getElementById("securepaycurrency_HKD").checked = false;
						document.getElementById("securepaycurrency_EUR").checked = false;
						document.getElementById("securepaycurrency_GBP").checked = false;
						document.getElementById("securepaycurrency_CAD").checked = false;
						document.getElementById('seccurepaysettmenet').readOnly = true;
				    }
				}
				
				</script>
				<tr id="securepaycurrencies" name="securepaycurrencies">
					<td><input id="securepaycurrency_USD" type="checkbox"
						th:field="*{securepaycurrency_USD}" value="1"
						name="securepaycurrency_USD"  />
						USD</td>
						<td><input id="securepaycurrency_JPY" type="checkbox"
						th:field="*{securepaycurrency_JPY}" value="1"
						name="securepaycurrency_JPY"/>
						JPY</td>
						<td><input id="securepaycurrency_HKD" type="checkbox"
						th:field="*{securepaycurrency_HKD}" value="1"
						name="securepaycurrency_HKD"/>
						HKD</td>
						<td><input id="securepaycurrency_EUR" type="checkbox"
						th:field="*{securepaycurrency_EUR}" value="1"
						name="securepaycurrency_EUR"/>
						EUR</td>
						<td><input id="securepaycurrency_GBP" type="checkbox"
						th:field="*{securepaycurrency_GBP}" value="1"
						name="securepaycurrency_GBP"/>
						GBP</td>
						<td><input id="securepaycurrency_CAD" type="checkbox"
						th:field="*{securepaycurrency_CAD}" value="1"
						name="securepaycurrency_CAD"/>
						CAD</td>
				</tr>
				
				
				<tr id="securepaysettlementn" name="securepaysettlementn">
				<td> Settlement Cycle Setting:  T+</td>
				<td><input type="text" th:field="*{securepay_settlement}" id="seccurepaysettmenet"/></td>
				<script>document.getElementById("seccurepaysettmenet").defaultValue="2";</script>
				<td th:if="${#fields.hasErrors('securepay_settlement')}"
					th:errors="*{securepay_settlement}">securepay_settlement Error</td>
			</tr>
			</table>
			<table id="expresspaytable" name="expresspaytable">
				<tr>
					<td><input id="expresspaybutton" type="button"
						name="expresspaybutton" value="Expresspay Button" /><script
				type="text/javascript">
						buttonhide('expresspaybutton','expresspaytunnel');
						buttonhide('expresspaybutton','expresspaycurrencies');
						buttonhide('expresspaybutton','expresspaysettlementn');
						</script></td>
				</tr>
				<tr id="expresspaytunnel" name="expresspaytunnel">
					<td><input id="expresspay_unionpay" type="checkbox"
						th:field="*{expresspay_unionpay}" value="1"
						name="expresspay_unionpay"  onchange='expresspayunionpaylisetner(this);'/>
						UnionPay</td>
				</tr>
				
				<script>
				function expresspayunionpaylisetner(expresspay_unionpay){
					 if(expresspay_unionpay.checked ==true)
				    {
				    document.getElementById("expresspaycurrency_USD").disabled = false;
					document.getElementById("expresspaycurrency_JPY").disabled = false;
					document.getElementById("expresspaycurrency_HKD").disabled = false;
					document.getElementById("expresspaycurrency_EUR").disabled = false;
					document.getElementById("expresspaycurrency_GBP").disabled = false;
					document.getElementById("expresspaycurrency_CAD").disabled = false;
					document.getElementById('expresspaysettmenet').readOnly = false;
				    }else{
				   	 	document.getElementById("expresspaycurrency_USD").disabled = true;
						document.getElementById("expresspaycurrency_JPY").disabled = true;
						document.getElementById("expresspaycurrency_HKD").disabled = true;
						document.getElementById("expresspaycurrency_EUR").disabled = true;
						document.getElementById("expresspaycurrency_GBP").disabled = true;
						document.getElementById("expresspaycurrency_CAD").disabled = true;
						document.getElementById("expresspaycurrency_USD").checked = false;
						document.getElementById("expresspaycurrency_JPY").checked = false;
						document.getElementById("expresspaycurrency_HKD").checked = false;
						document.getElementById("expresspaycurrency_EUR").checked = false;
						document.getElementById("expresspaycurrency_GBP").checked = false;
						document.getElementById("expresspaycurrency_CAD").checked = false;
						document.getElementById('expresspaysettmenet').readOnly = true;
				    }
				}
				
				</script>
				<tr id="expresspaycurrencies" name="expresspayurrencies">
					<td><input id="expresspaycurrency_USD" type="checkbox"
						th:field="*{expresspaycurrency_USD}" value="1"
						name="expresspaycurrency_USD"  />
						USD</td>
						<td><input id="expresspaycurrency_JPY" type="checkbox"
						th:field="*{expresspaycurrency_JPY}" value="1"
						name="expresspaycurrency_JPY"/>
						JPY</td>
						<td><input id="expresspaycurrency_HKD" type="checkbox"
						th:field="*{expresspaycurrency_HKD}" value="1"
						name="expresspaycurrency_HKD"/>
						HKD</td>
						<td><input id="expresspaycurrency_EUR" type="checkbox"
						th:field="*{expresspaycurrency_EUR}" value="1"
						name="expresspaycurrency_EUR"/>
						EUR</td>
						<td><input id="expresspaycurrency_GBP" type="checkbox"
						th:field="*{expresspaycurrency_GBP}" value="1"
						name="expresspaycurrency_GBP"/>
						GBP</td>
						<td><input id="expresspaycurrency_CAD" type="checkbox"
						th:field="*{expresspaycurrency_CAD}" value="1"
						name="expresspaycurrency_CAD"/>
						CAD</td>
				</tr>

				<tr id="expresspaysettlementn" name="expresspaysettlementn">
				<td> Settlement Cycle Setting:  T+</td>
				<td><input type="text" th:field="*{expresspay_settlement}" id="expresspaysettmenet"/></td>
				<script>document.getElementById("expresspaysettmenet").defaultValue="2";</script>
				<td th:if="${#fields.hasErrors('expresspay_settlement')}"
					th:errors="*{expresspay_settlement}">expresspay_settlement Error</td>
			</tr>
			</table>
		</table>
		
		
		<td><input id="offlinepaymentbutton" type="button"
			name="offlinepaymentbutton" value="Offline Payment" /> <script
				type="text/javascript">
						buttonhide('offlinepaymentbutton','showQRtable');
						buttonhide('offlinepaymentbutton','POStable');
						</script></td>
		<table id="offlinetable" name="offlinetable">
			<table id="showQRtable" name="showQRtable">
				<tr>
					<td><input id="showQRbutton" type="button"
						name="showQRbutton" value="Show QR Button" /><script
				type="text/javascript">
						buttonhide('showQRbutton','showQRtunnel');
						buttonhide('showQRbutton','showQRcurrencies');
						buttonhide('showQRbutton','showQRsettlement');
						</script></td>
				</tr>
				<tr id="showQRtunnel" name="showQRtunnel">
					<td><input id="showqrcode_alipay" type="checkbox"
						th:field="*{showqrcode_alipay}" value="1"
						name="showqrcode_alipay" onchange='showQRlisetner();'/>
						AliPay</td>
						<td><input id="showqrcode_wechatpay" type="checkbox"
						th:field="*{showqrcode_wechatpay}" value="1"
						name="showqrcode_wechatpay" onchange='showQRlisetner();'/>
						WechatPay</td>
				</tr>
				
				
				<script>
				function showQRlisetner(){
					if((document.getElementById("showqrcode_wechatpay").checked ||document.getElementById("showqrcode_alipay").checked)==true)
				    {
				    document.getElementById("showqrcodecurrency_USD").disabled = false;
					document.getElementById("showqrcodecurrency_JPY").disabled = false;
					document.getElementById("showqrcodecurrency_HKD").disabled = false;
					document.getElementById("showqrcodecurrency_EUR").disabled = false;
					document.getElementById("showqrcodecurrency_GBP").disabled = false;
					document.getElementById("showqrcodecurrency_CAD").disabled = false;
					document.getElementById('showqrcode_settlement').readOnly = false;
				    }else{
				   	 	document.getElementById("showqrcodecurrency_USD").disabled = true;
						document.getElementById("showqrcodecurrency_JPY").disabled = true;
						document.getElementById("showqrcodecurrency_HKD").disabled = true;
						document.getElementById("showqrcodecurrency_EUR").disabled = true;
						document.getElementById("showqrcodecurrency_GBP").disabled = true;
						document.getElementById("showqrcodecurrency_CAD").disabled = true;
						document.getElementById("showqrcodecurrency_USD").checked = false;
						document.getElementById("showqrcodecurrency_JPY").checked = false;
						document.getElementById("showqrcodecurrency_HKD").checked = false;
						document.getElementById("expresspaycurrency_EUR").checked = false;
						document.getElementById("expresspaycurrency_GBP").checked = false;
						document.getElementById("expresspaycurrency_CAD").checked = false;
						document.getElementById('showqrcode_settlement').readOnly = true;
				    }
				}
				
				</script>
				<tr id="showQRcurrencies" name="showQRcurrencies">
					<td><input id="showqrcodecurrency_USD" type="checkbox"
						th:field="*{showqrcodecurrency_USD}" value="1"
						name="showqrcodecurrency_USD"  />
						USD</td>
						<td><input id="showqrcodecurrency_JPY" type="checkbox"
						th:field="*{showqrcodecurrency_JPY}" value="1"
						name="showqrcodecurrency_JPY"/>
						JPY</td>
						<td><input id="showqrcodecurrency_HKD" type="checkbox"
						th:field="*{showqrcodecurrency_HKD}" value="1"
						name="showqrcodecurrency_HKD"/>
						HKD</td>
						<td><input id="showqrcodecurrency_EUR" type="checkbox"
						th:field="*{showqrcodecurrency_EUR}" value="1"
						name="showqrcodecurrency_EUR"/>
						EUR</td>
						<td><input id="showqrcodecurrency_GBP" type="checkbox"
						th:field="*{showqrcodecurrency_GBP}" value="1"
						name="showqrcodecurrency_GBP"/>
						GBP</td>
						<td><input id="showqrcodecurrency_CAD" type="checkbox"
						th:field="*{showqrcodecurrency_CAD}" value="1"
						name="showqrcodecurrency_CAD"/>
						CAD</td>
				</tr>
						
				<tr id="showQRsettlement" name="showQRsettlement">
				<td> Settlement Cycle Setting:  T+</td>
				<td><input type="text" th:field="*{showqrcode_settlement}" id="showqrcode_settlement"/></td>
				<script>document.getElementById("showqrcode_settlement").defaultValue="2";</script>
				<td th:if="${#fields.hasErrors('showqrcode_settlement')}"
					th:errors="*{securepay_settlement}">securepay_settlement Error</td>
			</tr>
			</table>
			<table id="POStable" name="POStable">
				<tr>
					<td><input id="POSbutton" type="button"
						name="POSbutton" value="POS Button" /><script
				type="text/javascript">
						buttonhide('POSbutton','POStunnel');
						buttonhide('POSbutton','POScurrencies');
						buttonhide('POSbutton','POSsettelemtn');
						</script></td>
				</tr>
				<tr id="POStunnel" name="POStunnel">
					<td><input id="POS_unionpay" type="checkbox"
						th:field="*{POS_unionpay}" value="1"
						name="POS_unionpay"  onchange='POSlisetner();'/>
						UnionPay</td>
						
						<td><input id="POS_wechatpay" type="checkbox"
						th:field="*{POS_wechatpay}" value="1"
						name="POS_wechatpay"  onchange='POSlisetner();'/>
						WechatPay</td>
						<td><input id="POS_alipay" type="checkbox"
						th:field="*{POS_alipay}" value="1"
						name="POS_alipay"  onchange='POSlisetner();'/>
						AliPay</td>
						
				</tr>
				
				<script>
				function POSlisetner(){
					 if((document.getElementById("POS_alipay").checked ||document.getElementById("POS_wechatpay").checked||document.getElementById("POS_unionpay").checked)==true)
				    {
				    document.getElementById("POScurrency_USD").disabled = false;
					document.getElementById("POScurrency_JPY").disabled = false;
					document.getElementById("POScurrency_HKD").disabled = false;
					document.getElementById("POScurrency_EUR").disabled = false;
					document.getElementById("POScurrency_GBP").disabled = false;
					document.getElementById("POScurrency_CAD").disabled = false;
					document.getElementById('POS_settlement').readOnly = false;
				    }else{
				   	 	document.getElementById("POScurrency_USD").disabled = true;
						document.getElementById("POScurrency_JPY").disabled = true;
						document.getElementById("POScurrency_HKD").disabled = true;
						document.getElementById("POScurrency_EUR").disabled = true;
						document.getElementById("POScurrency_GBP").disabled = true;
						document.getElementById("POScurrency_CAD").disabled = true;
						document.getElementById("POScurrency_USD").checked = false;
						document.getElementById("POScurrency_JPY").checked = false;
						document.getElementById("POScurrency_HKD").checked = false;
						document.getElementById("POScurrency_EUR").checked = false;
						document.getElementById("POScurrency_GBP").checked = false;
						document.getElementById("POScurrency_CAD").checked = false;
						document.getElementById('POS_settlement').readOnly = true;
				    }
				}
				
				</script>
				
				
				<tr id="POScurrencies" name="POScurrencies">
					<td><input id="POScurrency_USD" type="checkbox"
						th:field="*{POScurrency_USD}" value="1"
						name="POScurrency_USD"  />
						USD</td>
						<td><input id="POScurrency_JPY" type="checkbox"
						th:field="*{POScurrency_JPY}" value="1"
						name="POScurrency_JPY"/>
						JPY</td>
						<td><input id="POScurrency_HKD" type="checkbox"
						th:field="*{POScurrency_HKD}" value="1"
						name="POScurrency_HKD"/>
						HKD</td>
						<td><input id="POScurrency_EUR" type="checkbox"
						th:field="*{POScurrency_EUR}" value="1"
						name="POScurrency_EUR"/>
						EUR</td>
						<td><input id="POScurrency_GBP" type="checkbox"
						th:field="*{POScurrency_GBP}" value="1"
						name="POScurrency_GBP"/>
						GBP</td>
						<td><input id="POScurrency_CAD" type="checkbox"
						th:field="*{POScurrency_CAD}" value="1"
						name="POScurrency_CAD"/>
						CAD</td>
				</tr>
				
				
				<tr id="POSsettelemtn" name="POSsettelemtn">
				<td> Settlement Cycle Setting:  T+</td>
				<td><input type="text" th:field="*{POS_settlement}" id="POS_settlement"/></td>
				<script>document.getElementById("POS_settlement").defaultValue="2";</script>
				<td th:if="${#fields.hasErrors('POS_settlement')}"
					th:errors="*{POS_settlement}">expresspay_settlement Error</td>
			</tr>
			</table>
		</table>
			<script>
			document.getElementById("POScurrency_USD").disabled = true;
			document.getElementById("POScurrency_JPY").disabled = true;
			document.getElementById("POScurrency_HKD").disabled = true;
			document.getElementById("POScurrency_EUR").disabled = true;
			document.getElementById("POScurrency_GBP").disabled = true;
			document.getElementById("POScurrency_CAD").disabled = true;
			document.getElementById('POS_settlement').readOnly = true;
			document.getElementById("securepaycurrency_USD").disabled = true;
			document.getElementById("securepaycurrency_JPY").disabled = true;
			document.getElementById("securepaycurrency_HKD").disabled = true;
			document.getElementById("securepaycurrency_EUR").disabled = true;
			document.getElementById("securepaycurrency_GBP").disabled = true;
			document.getElementById("securepaycurrency_CAD").disabled = true;
			document.getElementById('seccurepaysettmenet').readOnly = true;
			document.getElementById("showqrcodecurrency_USD").disabled = true;
			document.getElementById("showqrcodecurrency_JPY").disabled = true;
			document.getElementById("showqrcodecurrency_HKD").disabled = true;
			document.getElementById("showqrcodecurrency_EUR").disabled = true;
			document.getElementById("showqrcodecurrency_GBP").disabled = true;
			document.getElementById("showqrcodecurrency_CAD").disabled = true;
			document.getElementById('showqrcode_settlement').readOnly = true;
			document.getElementById("expresspaycurrency_USD").disabled = true;
			document.getElementById("expresspaycurrency_JPY").disabled = true;
			document.getElementById("expresspaycurrency_HKD").disabled = true;
			document.getElementById("expresspaycurrency_EUR").disabled = true;
			document.getElementById("expresspaycurrency_GBP").disabled = true;
			document.getElementById("expresspaycurrency_CAD").disabled = true;
			document.getElementById('expresspaysettmenet').readOnly = true;
			</script>
			
			<tr>
				<td><button type="submit">Submit</button></td>
			</tr>
	</form>

</body>
</html>