<html>
<head>
<script language="javascript" src="/js/jquery.min.js"></script>
</head>
<body>

<object data="NihaoPay_Terms.pdf" type="application/pdf" width="100%" height="100%">
</object>
	<form action="#" th:action="@{/submission}" th:object="${submission}"
		method="post">
		
		<table>
			<tr>
							<td>
				<input type="checkbox" name="readandagree" value="readandagree"/>Has read term carefully and agree to accept terms
				</td>
				<td th:if="${#fields.hasErrors('readandagree')}" th:errors="*{readandagree}" style="color:red;">readandagree Error</td>
				
			</tr>
			<tr>
				<td>Signature:</td>
				<td><input id="signatureinp" type="text" th:field="*{signature}"/></td>
				<td th:if="${#fields.hasErrors('signature')}" th:errors="*{signature}" style="color:red;">signature Error</td>
				
			</tr>
			<tr>
				<td><input type="date" id="currentdate" th:field="*{currentdate}"/>
				<td th:if="${#fields.hasErrors('currentdate')}" th:errors="*{currentdate}" style="color:red;">currentdate Error</td>
				
				</td>
			</tr>
			<tr>
             	<td><button type="submit">Submit</button></td>
            </tr>
		</table>
	</form>
</body>
</html>
		